.navbar {
    background-color: #3498db; 
    color : #292323;
  }
  
  .navbar-nav .nav-link {
    color: #ffffff; 
    color : #292323;
  }
  
  .active,.navbar-nav .nav-link:hover {
    background-color: #2980b9 !important; 
    color : #c0bfbf!important;
  }

  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #navbarNav{
    flex-grow: 0
  }
