.eye-icon{
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    top: .6rem;
    left: -2.2rem;
    z-index: 10000;
}

.input-container {
    position: relative;
}

.form-control {
    padding-right: 30px;
}

/* .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  } */