/* Reset some default styles */
html, body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a background color and text color for the entire page */
body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Add a container to center content */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Style headings */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Style paragraphs */
p {
  margin-bottom: 15px;
}

/* Style links */
a {
  text-decoration: none!important;
}

a:hover {
  text-decoration: underline;
}

/* Style buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Style form elements */
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.component-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}